/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
    --blue: #050542;
    --green: #66e5bf;
    --purple: #a675f5;
    --white: #ffffff;
}